@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Outfit', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: #f9fafb;
    --foreground: #101828;
    --card: #ffffff;
    --card-foreground: #1d2939;
    --popover: #ffffff;
    --popover-foreground: #1d2939;
    --primary: #465fff;
    --primary-foreground: #ffffff;
    --secondary: #f2f4f7;
    --secondary-foreground: #1d2939;
    --muted: #f2f4f7;
    --muted-foreground: #667085;
    --accent: #ecf3ff;
    --accent-foreground: #465fff;
    --destructive: #f04438;
    --destructive-foreground: #ffffff;
    --border: #e4e7ec;
    --input: #e4e7ec;
    --ring: #465fff;
    --chart-1: #465fff;
    --chart-2: #0ba5ec;
    --chart-3: #12b76a;
    --chart-4: #f79009;
    --chart-5: #f63d68;
    --radius: 0.75rem;
    --sidebar: #ffffff;
    --sidebar-foreground: #344054;
    --sidebar-primary: #465fff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #ecf3ff;
    --sidebar-accent-foreground: #465fff;
    --sidebar-border: #e4e7ec;
    --sidebar-ring: #465fff;
}

.dark {
    --background: #101828;
    --foreground: #f2f4f7;
    --card: #1d2939;
    --card-foreground: #f2f4f7;
    --popover: #1d2939;
    --popover-foreground: #f2f4f7;
    --primary: #465fff;
    --primary-foreground: #ffffff;
    --secondary: #1d2939;
    --secondary-foreground: #f2f4f7;
    --muted: #1d2939;
    --muted-foreground: #98a2b3;
    --accent: #182747;
    --accent-foreground: #7592ff;
    --destructive: #f97066;
    --destructive-foreground: #ffffff;
    --border: #1d2939;
    --input: #1d2939;
    --ring: #465fff;
    --chart-1: #7592ff;
    --chart-2: #36bffa;
    --chart-3: #32d583;
    --chart-4: #fdb022;
    --chart-5: #fd6f8e;
    --sidebar: #101828;
    --sidebar-foreground: #98a2b3;
    --sidebar-primary: #465fff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #182747;
    --sidebar-accent-foreground: #7592ff;
    --sidebar-border: #1d2939;
    --sidebar-ring: #465fff;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
